.viewer-background-colour {
    background-color: #cfcfc4;
}
.info-panel-background-colour {
    background-color: #fffff0;
}

.fade-in.ng-enter {
    animation: fadeIn 0.5s;
}
.fade-in.ng-leave {
    animation: fadeOut 0.5s;
}

.filmstrip-highlight-current {
    border: 4px solid yellow;
    border-radius: 8px;
    display: inline-block;
}

.section-heading {
    color: #3d4343;
    font-weight: 300;
    text-rendering: optimizelegibility;
    margin: 10px 0px;
}
