<div ng-if="showMedia" class="fade-in">
        <div layout="column" layout-align="center center">
            <!-- AUDIO -->
            <span ng-repeat="(name, src) in itemData.audio" ng-if="loadAudioPlayer">
                <audio-element name="name" media-src="src" item-data="itemData"></audio-element>
                <hr/>
            </span>

            <!-- VIDEO -->
            <span ng-repeat="(name, src) in itemData.video" ng-if="loadVideoPlayer">
                <video-element name="name" media-src="src" item-data="itemData"></video-element>
                <hr/>
            </span>
        </div>
</div>