<div ng-if="showDocuments" class="above">
    <div layout="row" layout-align="center center" store-height element="controls">
        <span ng-if="itemData.documents.length > 1">
            <md-button class="small-button" aria-label="previous document" ng-click="previousDocument()" blur-on-click>
                <span class="fa fa-step-backward fa-lg"></span>
            </md-button>
            &nbsp;
            Document {{doc + 1}} of {{itemData.documents.length}}
            &nbsp;
            <md-button class="small-button" aria-label="next document" ng-click="nextDocument()" blur-on-click>
                <span class="fa fa-step-forward fa-lg"></span>
            </md-button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <md-button class="small-button" aria-label="first page" ng-click="firstPage()" blur-on-click>
            <span class="fa fa-fast-backward fa-lg"></span>
        </md-button>
        <md-button class="small-button" aria-label="previous page" ng-click="previousPage()" blur-on-click>
            <span class="fa fa-step-backward fa-lg"></span>
        </md-button>
        <span ng-if="pdfInfo.totalPages">
            &dash;
            Page {{current}} of {{pdfInfo.totalPages}}
            &dash;
        </span>
        <md-button class="small-button" aria-label="next page" ng-click="nextPage()" blur-on-click>
            <span class="fa fa-step-forward fa-lg"></span>
        </md-button>
        <md-button class="small-button" aria-label="last page" ng-click="lastPage()" blur-on-click>
            <span class="fa fa-fast-forward fa-lg"></span>
        </md-button>
        <md-button class="small-button" aria-label="zoom out" ng-click="zoomOut()" blur-on-click>
            <span class="fa fa-minus fa-lg"></span>
        </md-button>
        <span>
            <small>{{scale | number:1}}x</small>
        </span>
        <md-button class="small-button" aria-label="zoom in" ng-click="zoomIn()" blur-on-click>
            <span class="fa fa-plus fa-lg"></span>
        </md-button>
        <md-button class="small-button" aria-label="download document" ng-href="{{itemData.documents[doc]}}" download>
            <i class="fa fa-download fa-lg"></i> Download {{itemData.documents[doc] | extension}}
        </md-button>
    </div>
    <div layout="row" layout-align="center center" layout-fill>
        <div size-to-parent ng-style="panelStyle">
            <canvas id="the-canvas" />
        </div>
    </div>
</div>