<div
    layout="column"
    layout-align="center center"
    ng-show="!vm.mediaReadyToPlay && !vm.loginRequired">
        Loading media... please wait.
</div>
<div
    layout="column"
    layout-align="center center"
    ng-show="vm.loginRequired">
        You must be logged in to Nabu to view this item.
</div>
<div
    layout="column"
    ng-show="vm.mediaReadyToPlay">

    <div layout="row">
        <div ng-repeat="src in vm.element.files">
            <md-button class="small-button" href="{{src | stripTime}}" download>
                <i class="fa fa-download fa-lg"></i> Download {{src | stripTime | extension}}
            </md-button>
        </div>
    </div>
    <!--
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 5px 0px;">
        <img ng-src="{{itemData.audioVisualisations[k]}}" style="width: 100%;" alt="&nbsp;Visualisation unavailable at this time">
    </div>
    -->
    <div layout="row">
        <audio
            id="{{vm.element.name}}"
            class=""
            controls
            controlsList="nodownload"
            preload="metadata"
            style="min-width: 500px;"
            media-ready
            time-update>
                <source ng-repeat="src in vm.element.files" ng-src="{{src}}" />
        </audio>
    </div>
</div>
