.media-viewer-player-style {
  max-width: 280px;
  min-width: 280px;
  width: 280px;
}
@media (min-width: 400px) {
  .media-viewer-player-style {
    max-width: 380px;
    min-width: 380px;
    width: 380px;
  }
}
@media (min-width: 650px) {
  .media-viewer-player-style {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
  }
}
@media (min-width: 700px) {
  .media-viewer-player-style {
    max-width: 600px;
    min-width: 600px;
    width: 600px;
  }
}
@media (min-width: 960px) {
  .media-viewer-player-style {
    max-width: 800px;
    min-width: 800px;
    width: 800px;
  }
}

.media-viewer-transcription-panel {
  border: 1px solid #ffd54f;
  border-radius: 2px;
  max-height: 500px;
  overflow: auto;
  position: relative;
}
.media-viewer-transcription-panel-width {
  max-width: 280px;
  width: 280px;
}
@media (min-width: 400px) {
  .media-viewer-transcription-panel-width {
    max-width: 380px;
    width: 380px;
  }
}
@media (min-width: 650px) {
  .media-viewer-transcription-panel-width {
    max-width: 500px;
    width: 500px;
  }
}
@media (min-width: 700px) {
  .media-viewer-transcription-panel-width {
    max-width: 680px;
    width: 680px;
  }
}
@media (min-width: 960px) {
  .media-viewer-transcription-panel-width {
    max-width: 800px;
    width: 800px;
  }
}
