.media-viewer-highlight-word {
  background-color: #b0bec5;
}
.media-viewer-highlight-morpheme {
  background-color: #efebe9;
}
.media-viewer-highlight-gloss {
  background-color: #efebe9;
}
.media-viewer-highlight-translation {
  color: #ef6c00;
}
.media-viewer-td-style {
  border-bottom: 1px solid #b0bec5;
  border-left: 1px solid #b0bec5;
  border-right: 1px solid #b0bec5;
  margin: 2px;
  padding: 5px;
}
.media-viewer-table-style {
  border-spacing: 0;
}

.media-viewer-transcription-selected {
  background-color: #ffd54f;
  border-radius: 4px;
}

.media-viewer-player-style {
  max-width: 280px;
  min-width: 280px;
  width: 280px;
}
@media (min-width: 400px) {
  .media-viewer-player-style {
    max-width: 380px;
    min-width: 380px;
    width: 380px;
  }
}
@media (min-width: 650px) {
  .media-viewer-player-style {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
  }
}
@media (min-width: 700px) {
  .media-viewer-player-style {
    max-width: 600px;
    min-width: 600px;
    width: 600px;
  }
}
@media (min-width: 960px) {
  .media-viewer-player-style {
    max-width: 800px;
    min-width: 800px;
    width: 800px;
  }
}

.media-viewer-transcription-panel {
  border: 1px solid #ffd54f;
  border-radius: 2px;
  max-height: 600px;
  overflow: auto;
  position: relative;
}
@media (min-height: 500px) {
  .media-viewer-transcription-panel {
    max-height: 200px;
  }
}
@media (min-height: 600px) {
  .media-viewer-transcription-panel {
    max-height: 250px;
  }
}
@media (min-height: 700px) {
  .media-viewer-transcription-panel {
    max-height: 300px;
  }
}
@media (min-height: 800px) {
  .media-viewer-transcription-panel {
    max-height: 400px;
  }
}
@media (min-height: 1000px) {
  .media-viewer-transcription-panel {
    max-height: 600px;
  }
}

.media-viewer-transcription-panel-width {
  max-width: 280px;
  width: 280px;
}
@media (min-width: 400px) {
  .media-viewer-transcription-panel-width {
    max-width: 380px;
    width: 380px;
  }
}
@media (min-width: 650px) {
  .media-viewer-transcription-panel-width {
    max-width: 500px;
    width: 500px;
  }
}
@media (min-width: 700px) {
  .media-viewer-transcription-panel-width {
    max-width: 680px;
    width: 680px;
  }
}
@media (min-width: 960px) {
  .media-viewer-transcription-panel-width {
    max-width: 800px;
    width: 800px;
  }
}
