<div
    layout="column"
    layout-align="center center"
    ng-show="!vm.mediaReadyToPlay">
        <div layout="row" layout-padding>
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            <span>
                Loading media... please wait.
            </span>
        </div>
</div>
<div
    layout="column"
    ng-show="vm.mediaReadyToPlay">

    <div layout="row">
        <div ng-repeat="src in vm.element.files">
            <md-button class="small-button" href="{{src | stripTime}}" download>
                <i class="fa fa-download fa-lg"></i> Download {{src | stripTime | extension}}
            </md-button>
        </div>
    </div>
    <div layout="row" layout-align="start center">
        <video
            id="{{vm.element.name}}"
            class="media-viewer-player-style"
            controls
            controlsList="nodownload"
            preload="metadata"
            media-ready
            time-update>
                <source ng-repeat="src in vm.element.files" src="{{src}}" />
        </video>
    </div>
</div>
