<div
    layout="column"
    layout-align="center center"
    ng-show="!vm.mediaReadyToPlay && !vm.loginRequired">
        Loading media... please wait.
</div>
<div
    layout="column"
    layout-align="center center"
    ng-show="vm.loginRequired">
        You must be logged in to Nabu to view this item.
</div>
<div
    layout="column"
    ng-show="vm.mediaReadyToPlay">

    <div layout="row">
        <div ng-repeat="src in vm.element.files">
            <md-button class="small-button" href="{{src | stripTime}}" download>
                <i class="fa fa-download fa-lg"></i> Download {{src | stripTime | extension}}
            </md-button>
        </div>
    </div>
    <div layout="row">
        <video
            id="{{vm.element.name}}"
            controls
            controlsList="nodownload"
            preload="metadata"
            style="min-width: 500px;"
            media-ready
            time-update>
                <source ng-repeat="src in vm.element.files" src="{{src}}" />
        </video>
    </div>
    <!-- <div layout="column" layout-align="top center">
        <transcription-selector></transcription-selector>
    </div>
    <div layout="column">
        <render-transcription
            item-data="itemData"
            transcription="trs"
            name="{{name}}"
            play="playFragment(start, end)"
            current-time="currentTime"
            ng-if="mediaReadyToPlay && trs">
        </render-transcription>
    </div>
    <div layout="column">
        <render-transcription
            item-data="itemData"
            interlinear="interlinear"
            name="{{name}}"
            play="playFragment(start, end)"
            current-time="currentTime"
            ng-if="interlinear">
        </render-transcription>
    </div> -->
</div>
