<div
    layout-gt-sm="row"
    layout="column"
    kayout-padding>
    <div layout-gt-sm="column" layout-align="top center" flex-gt-sm="40">
        <span ng-if="!vm.loadingData">
            <div layout="row" layout-align="center center" ng-if="!vm.disableThumbnailView">
                <md-button
                    class="small-button"
                    aria-label="previous item"
                    ng-click="vm.previousItem()"
                    ng-disabled="vm.config.current === 0"
                    blur-on-click>
                        <span class="fa fa-step-backward fa-lg"></span>
                        <md-tooltip>Previous Item</md-tooltip>
                </md-button>
                <div class="md-subhead">
                    Multimedia item {{vm.config.current + 1}}&nbsp;of&nbsp;{{vm.item.media.length}}
                </div>
                <md-button
                    class="small-button"
                    aria-label="next item"
                    ng-click="vm.nextItem()"
                    ng-disabled="vm.config.current === vm.item.media.length - 1"
                    blur-on-click>
                        <span class="fa fa-step-forward fa-lg"></span>
                        <md-tooltip>Next Item</md-tooltip>
                </md-button>
            </div>
            <div layout="row" hide show-gt-sm>
                <md-tabs md-dynamic-height style="width: 400px;" layout-padding md-selected="vm.activeTab">
                    <md-tab
                        label="Information"
                        ng-click="vm.activateTab(0)">
                            <pdsc-item-information-component
                                item-data="vm.item"
                                close="vm.toggleItemInformation()"
                                ng-if="vm.activeTab === 0">
                            </pdsc-item-information-component>
                    </md-tab>
                    <md-tab
                        label="View Transcriptions"
                        ng-click="vm.activateTab(1)"
                        ng-if="
                            vm.config.item.eaf ||
                            vm.config.item.trs ||
                            vm.config.item.ixt ||
                            vm.config.item.flextext
                        ">
                            <pdsc-transcription-render-component
                                element="vm.config.item"
                                ng-if="vm.config.item && vm.activeTab === 1">
                            </pdsc-transcription-render-component>
                    </md-tab>
                </md-tabs>
            </div>
        </span>
    </div>
    <div layout="row" layout-align="center start" flex>
        <pdsc-audio-player-component
            element="vm.config.item"
            ng-if="vm.config.item.type === 'audio'">
        </pdsc-audio-player-component>
        <pdsc-video-player-component
            element="vm.config.item"
            ng-if="vm.config.item.type === 'video'">
        </pdsc-video-player-component>
    </div>
</div>
