.image-viewer-filmstrip-highlight-current {
  border: 4px solid #607d8b;
  border-radius: 2px;
  padding: 4px 37px 2px 4px;
}

.image-viewer-filmstrip-thumbnail {
  width: 150px;
}

.image-style {
  max-width: 600px;
  overflow: auto;
  width: 600px;
}
