<div layout="column" layout-padding>
    <div layout="column" layout-margin>
        <div class="md-headline">{{itemData.title}}</div>
        <md-divider></md-divider>
    </div>
    <div layout="row">
        <md-button class="small-button md-primary md-raised" ng-href="{{itemData.collectionLink}}">
            Collection: {{itemData.collectionId}}
        </md-button>
        <md-button class="small-button md-primary md-raised" ng-href="{{itemData.identifier[1]}}">
            Item: {{itemData.itemId}}</a>
        </md-button>
    </div>
    <div layout="column">
        <div class="md-title">Contributors</div>
        <div ng-repeat="contributor in itemData.contributor">
            <li>{{contributor.name}} ({{contributor.role}})</li>
        </div>
    </div>
    <div layout="column">
        <div class="md-title">Description</div>
        <div>{{itemData.description}}</div>
    </div>
    <div layout="column">
        <div class="md-title">Cite this item</div>
        <div style="word-wrap: break-word;">{{itemData.citation}}</div>
    </div>
    <div layout="column">
        <div class="md-title">Zotero and Mendeley Integration.</div>
        <div class="md-caption">
            <p>This page has embedded metadata that is able to be read by both Zotero and Mendeley.</p>
            <p>Zotero users with the appropriate browser plugin (<a href="https://www.zotero.org/download/" target="_blank">
            https://www.zotero.org/download/</a>) 
            can save to Zotero directly whilst Mendeley users should install the <em>one click Web Importer</em> 
            (<a href="https://www.mendeley.com/import/" target="_blank">https://www.mendeley.com/import/</a>) to
            enable the same functionality.</p>
        </div>
    </div>
    <div layout="row">
        <md-button class="small-button md-primary md-raised" ng-click="close()">close</md-button>
    </div>
</div>