<div 
    layout="column" flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20" 
    ng-show="mediaReadyToPlay">

    <div layout="row">
        <div class="md-subhead">
            <md-button class="small-button" ng-click="loadItem()">{{name}}</md-button>
        </div>
        <div flex></div>
        <div ng-repeat="src in mediaSrc">
            <md-button class="small-button" href="{{src | stripTime}}" download>
                <i class="fa fa-download fa-lg"></i> Download {{src | stripTime | extension}}
            </md-button>
        </div>
    </div>
    <!--
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 5px 0px;">
        <img ng-src="{{itemData.audioVisualisations[k]}}" style="width: 100%;" alt="&nbsp;Visualisation unavailable at this time">
    </div>
    -->
    <div layout="column" layout-align="start start">
        <audio id="{{name}}" class="" controls preload="metadata" style="width: 100%;" media-ready time-update>
            <source ng-repeat="src in mediaSrc" src="{{src | trustAsHtml}}" />
        </audio>
    </div>
    <div layout="column" layout-align="top center">
        <transcription-selector></transcription-selector>
    </div>
    <div layout="column">
        <render-transcription
            item-data="itemData"
            transcription="trs"
            name="{{name}}"
            play="playFragment(start, end)"
            current-time="currentTime"
            ng-if="trs && showTranscription">
        </render-transcription>
    </div>
    <div layout="column">
        <render-transcription
            item-data="itemData"
            interlinear="interlinear"
            name="{{name}}"
            play="playFragment(start, end)"
            current-time="currentTime"
            ng-if="interlinear && showInterlinear">
        </render-transcription>
    </div>
</div>
<div layout="column" layout-align="center center" flex="50" flex-offset="25" ng-show="!mediaReadyToPlay">
    Loading media... please wait.
</div>