<div layout="row" layout-align="center center">
    <div>
        <div
            layout="column"
            layout-padding
            ng-repeat="(k, collection) in vm.collections">
            Collection: {{k}}
            <div ng-repeat="item in collection" class="">
                <span class="">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
                <a
                    class="file-viewer-link-styling"
                    ui-sref="main({collectionId: k, itemId: item.itemId})">
                    {{item.itemId}} - {{item.data.title}}
                </a>
            </div>
        </div>
    </div>
</div>