.small-button {
  margin: 6px 2px;
  min-width: 40px;
}

.main-toolbar {
  min-height: 20px;
  width: 100vw;
}

.main-viewer-color {
  background-color: #f2f1ef;
}

.main-viewer-panel {
  max-width: 320px;
  width: 320px;
}
@media (min-width: 400px) {
  .main-viewer-panel {
    max-width: 380px;
    width: 380px;
  }
}
@media (min-width: 650px) {
  .main-viewer-panel {
    max-width: 650px;
    width: 650px;
  }
}
@media (min-width: 700px) {
  .main-viewer-panel {
    max-width: 700px;
    width: 700px;
  }
}
@media (min-width: 960px) {
  .main-viewer-panel {
    max-width: 1000px;
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .main-viewer-panel {
    max-width: 1200px;
    width: 1200px;
  }
}

.main-small-font {
  font-size: 12px;
}
