<div flex layout="column">
    <md-toolbar class="toolbar" store-height element="toolbar">
        <div layout="row" ng-hide="vm.loadingData">
            <!-- <md-button class="small-font" ng-click="vm.toggleItemInformation()" blur-on-click>
                <i class="fa fa-info-circle fa-lg"></i> View Item Information
            </md-button> -->
            <md-button class="small-font" ng-href="{{vm.itemData.collectionLink}}" target="_blank">
                <i class="fa fa-external-link fa-lg"></i> View Collection in Catalog
            </md-button>
            <md-button class="small-font" ng-href="{{vm.itemData.identifier[1]}}" target="_blank">
                <i class="fa fa-external-link fa-lg"></i> View Item in Catalog
            </md-button>
            <md-button class="small-font" ui-sref="main.images" blur-on-click ng-if="vm.itemData.images.length">
                <i class="fa fa-file-image-o fa-lg"></i> Images
            </md-button>
            <md-button class="small-font" ui-sref="main.media" blur-on-click ng-if="vm.itemData.audio.length">
                <i class="fa fa-file-audio-o fa-lg"></i> Audio
            </md-button>
            <md-button class="small-font" ui-sref="main.media" blur-on-click ng-if="vm.itemData.video.length">
                <i class="fa fa-file-video-o"></i> Video
            </md-button>
            <md-button class="small-font" ui-sref="main.documents" blur-on-click ng-if="vm.itemData.documents.length">
                <i class="fa fa-file-pdf-o fa-lg"></i> Documents
            </md-button>
            <md-button class="small-font" ng-href="{{vm.levelup}}" ng-if="vm.levelup">
                <i class="fa fa-level-up fa-lg"></i> View Item
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center center" store-height element="headline">
        <h3 class="md-headline">{{vm.itemData.title}}</h3>
    </div>
    <div layout="row">
        <div ui-view style="width: 100vw;"></div>
    </div>
</div>

<!-- <md-sidenav class="md-sidenav-left fat-sidenav viewer-color" md-component-id="left">
    <pdsc-item-information-component
        item-data="vm.itemData"
        close="vm.toggleItemInformation()">
    </pdsc-item-information-component>
</md-sidenav> -->
