<div layout="row" layout-align="center center" ng-if="vm.showErrorMessage">
    <p>The viewer requires the collection and item to display in the URL.</p>
    <p>Typically this is something like /viewer/#/{collection id}/{item id}</p>
</div>
<div ui-view ng-if="vm.currentState !== 'root'"></div>
<div ng-if="vm.mode === 'librarybox'">
    <md-toolbar
        class="main-toolbar main-root-toolbar"
        layout="row"
        layout-align="center center">
            PARADISEC Offline Catalog
    </md-toolbar>
    <div
        layout="row"
        class="file-viewer-link-styling"
        ng-if="vm.data">
            <md-tabs md-dynamic-height md-center-tabs md-border-bottom md-selected="vm.activeTabIndex" class="main-index-styling">
                <md-tab label="Browse by Identifier">
                    <md-content class="md-padding main-viewer-color">
                        <pdsc-index-by-item-id-component collections="vm.data"></pdsc-index-by-item-id-component>
                    <md-content>
                </md-tab>
                <md-tab label="Browse by Genre" ng-if="vm.genreData">
                    <md-content class="md-padding main-viewer-color">
                        <pdsc-index-by-genre-component collections="vm.genreData"></pdsc-index-by-genre-component>
                    <md-content>
                </md-tab>
                <md-tab label="Browse by Speaker" ng-if="vm.speakerData">
                    <md-content class="md-padding main-viewer-color">
                        <pdsc-index-by-speaker-component collections="vm.speakerData"></pdsc-index-by-speaker-component>
                    <md-content>
                </md-tab>
            </md-tabs>
    </div>
</div>
