<!-- item information panel -->
<div class="info-panel-background-colour" style="padding: 15px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-if="show" class="fade-in">
                <p><strong>Collection: <a href="{{itemData.collectionLink}}">{{itemData.collectionId}}</a></strong></p>
                <p><strong>Item: <a href="{{itemData.identifier[1]}}">{{itemData.itemId}}</a></strong></p>
                <p>
                    <strong>Contributors: </strong>
                    <ul>
                        <span ng-repeat="contributor in itemData.contributor">
                            <li>{{contributor.name}} ({{contributor.role}})</li>
                        </span>
                    </ul>
                </p>
                <p><strong>Description:<br/></strong>{{itemData.description}}</p>
                <p><strong>Cite this item:<br/></strong>
                    <span style="word-wrap: break-word;">{{itemData.citation}}</span>
                </p>
            </div>
        </div>
    </div>
</div>