<!-- header -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
        <div class="row" id="header">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 class="section-heading">{{itemData.title}}</h3>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button class="btn btn-default btn-sm" ng-click="toggleItemInformation()" blur-on-click>
                    View Item Information
                </button>
                <span ng-if="itemData.images | isEmpty">
                    <button class="btn btn-default btn-sm" ng-click="loadViewer('images')" blur-on-click>
                        <i class="fa fa-file-image-o"></i> Images
                    </button>
                </span>
                <span ng-if="itemData.audio | isEmpty">
                    <button class="btn btn-default btn-sm" ng-click="loadViewer('media')" blur-on-click>
                        <i class="fa fa-file-audio-o"></i> Audio
                    </button>
                </span>
                <span ng-if="itemData.video | isEmpty">
                    <button class="btn btn-default btn-sm" ng-click="loadViewer('media')" blur-on-click>
                        <i class="fa fa-file-video-o"></i> Video
                    </button>
                </span>
                <span ng-if="itemData.documents | isEmpty">
                    <button class="btn btn-default btn-sm" ng-click="loadViewer('documents')" blur-on-click>
                        <i class="fa fa-file-pdf-o"></i> Documents
                    </button>
                </span>
                <a class="btn btn-default btn-sm" href="{{itemData.identifier[1]}}" target="_blank">
                    <i class="fa fa-external-link"></i> View in Catalog
                </a>
                <hr style="margin: 5px 0px;" />
            </div>
        </div>
    </div>
</div>
<span ng-if="showItemInformation">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
            <item-information item-data="itemData" always-open="true" show="true"></item-information>
        </div>
    </div>
</span>
<div class="row" ng-show="!showItemInformation">
    <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
        <!-- the viewers -->
        <view-image-set ng-if="loadImageViewer"    item-data="itemData" instance-id="instanceId" header-height="headerHeight"></view-image-set>
        <view-documents ng-if="loadDocumentViewer" item-data="itemData" instance-id="instanceId" header-height="headerHeight"></view-documents>
        <view-media     ng-if="loadMediaPlayer"    item-data="itemData" instance-id="instanceId"></view-media>
    </div>
</div>




