<div ng-if="showDocuments" class="fade-in">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <span ng-if="itemData.documents.length > 1">
                <button class="btn btn-default btn-sm" ng-click="previousDocument()" blur-on-click>
                    <span class="fa fa-step-backward"></span>
                </button>
                &nbsp;
                Document {{doc + 1}} of {{itemData.documents.length}}
                &nbsp;
                <button class="btn btn-default btn-sm" ng-click="nextDocument()" blur-on-click>
                    <span class="fa fa-step-forward"></span>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <button class="btn btn-default btn-sm" ng-click="firstPage()" blur-on-click>
                <span class="fa fa-fast-backward"></span>
            </button>
            <button class="btn btn-default btn-sm" ng-click="previousPage()" blur-on-click>
                <span class="fa fa-step-backward"></span>
            </button>
            <span ng-if="pdfInfo.totalPages">
                &dash;
                Page {{current}} of {{pdfInfo.totalPages}}
                &dash;
            </span>
            <button class="btn btn-default btn-sm" ng-click="nextPage()" blur-on-click>
                <span class="fa fa-step-forward"></span>
            </button>
            <button class="btn btn-default btn-sm" ng-click="lastPage()" blur-on-click>
                <span class="fa fa-fast-forward"></span>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default btn-sm" ng-click="zoomOut()" blur-on-click>
                <span class="fa fa-minus"></span>
            </button>
            <span>
                <small>{{scale | number:1}}x</small>
            </span>
            <button class="btn btn-default btn-sm" ng-click="zoomIn()" blur-on-click>
                <span class="fa fa-plus"></span>
            </button>
            &nbsp;&nbsp;&nbsp;
            <a class="btn btn-default btn-sm" href="{{itemData.documents[doc]}}" download>
                <i class="fa fa-download"></i> Download {{itemData.documents[doc] | extension}}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center" ng-style="pdfPanelStyle">
            <canvas id="the-canvas" />
        </div>
    </div>
</div>