<div ng-if="showMedia" class="fade-in">
    <div style="position: relative;">
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <span ng-repeat="(k,v) in itemData.video" ng-if="loadVideoPlayer">
                    <div class="row" style="">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            {{k}}
                        </div> 
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <video class="video-js vjs-default-skin" controls preload="auto" style="width: 100%;">
                                <source ng-repeat="src in v" src="{{src | trustAsHtml}}" />
                                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a 
                                    web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                    </div>
                </span>
                <span ng-repeat="(k,v) in itemData.audio" ng-if="loadAudioPlayer">
                    <div class="row" style="padding: 5px 15px;">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {{k}}
                            <!--<a href="" class="pull-right">annotate this selection</a>-->
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <audio class="video-js vjs-default-skin" controls preload="auto" style="width: 100%;">
                                <source ng-repeat="src in v" src="{{src | trustAsHtml}}" />
                                <p class="vjs-no-js">To listent to this audio please enable JavaScript, and consider upgrading to a 
                                    web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 audio</a>
                                </p>
                            </audio>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>