<div ng-if="showDocuments" class="fade-in viewer-background-colour"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 5px 5px 4px #888888; ">
    <div style="position: relative;">

        <div class="row">
            <div class="col-sm-12 col-col-md-12 col-lg-offset-2 col-lg-8 text-center">
                <h4 class="section-heading">{{itemData.title}}</h4>
            </div>
        </div>
        <div class="row" style="padding: 0px 15px;">
            <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8 text-center">
                <!--
                <button class="btn btn-default pull-left" blur-on-click>
                    <span class="fa fa-th-list"></span>
                </button>
                -->
                <button class="btn btn-default" ng-click="firstPage()" blur-on-click>
                    <span class="fa fa-fast-backward"></span>
                </button>
                <button class="btn btn-default" ng-click="previousPage()" blur-on-click>
                    <span class="fa fa-step-backward"></span>
                </button>
                <span ng-if="pdfInfo.totalPages">
                    Page {{current}} of {{pdfInfo.totalPages}}
                </span>
                <button class="btn btn-default" ng-click="nextPage()" blur-on-click>
                    <span class="fa fa-step-forward"></span>
                </button>
                <button class="btn btn-default" ng-click="lastPage()" blur-on-click>
                    <span class="fa fa-fast-forward"></span>
                </button>
                <!--
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-default" ng-click="zoomIn()" blur-on-click>
                    <span class="fa fa-plus"></span>
                </button>
                <button class="btn btn-default" ng-click="zoomOut()" blur-on-click>
                    <span class="fa fa-minus"></span>
                </button>
                -->
            </div>
            <!--
            <div class="col-sm-4 col-md-3 col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search the document..." />
                    <div class="input-group-btn">
                        <button class="btn btn-default" style="background-color: white;" blur-on-click>
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            -->
        </div>
        <hr style="margin: 5px 0px;" />
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">
                <canvas id="the-canvas" style="max-width: 100%; border: 0; padding: 0px 15px;"></canvas>
                <!-- <iframe src="{{d}}" style="border: 0; width: 100%;" seamless /> -->
            </div>
        </div>
    </div>
</div>